<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
	<style>
		#ProfilePhoto {
			border-radius: 100%;
		}

		p, h1 {
			font-family: Calibri, sans-serif;
			font-size: 10;
			color: Black;
		}

		body {
			background-color: #d0dcef;
		}
	</style>
</head>
<body>
    <img id="ProfilePhoto" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-1/p240x240/18581654_1442828659112907_4698132418937228455_n.jpg?_nc_cat=0&_nc_eui2=AeHRL87FVGgKShOwQ8hu-dJ6Bw7zkU6Ai3kA6ynUGFWJKp2m_-88MaR29gYPn1_lRqILf226VLn_f8JO0AlCQP66z45h2YIrC48A9ZTcQzoW5Q&oh=de244e1df1f947704603d00438b42b17&oe=5BF7BFAA" alt="Kevin Christian Chandra" width="200px" height="200px">
    <h1>Hello my name is {{ name }}</h1>
	<hr/>
    <p>NPM : {{ npm }}</p>
	<p>Tempat kuliah: Fasilkom UI</p>
	<p>Hobi: Bermain video game</p>
	<p>Deskripsi diri: Saya adalah mahasiswa Fasilkom UI angkatan 2017. Saya mengambil jurusan Ilmu Komputer dan saat ini sedang menjalani semester 3. Saya lahir di Jakarta pada tanggal 27 September 1999. Saya tinggal di Jakarta, namun selama berkuliah saya tinggal di sebuah kos di daerah Pondok Cina. Selama saya berkuliah sampai sekarang, mata kuliah yang paling saya sukai adalah DDP. Selain berkuliah, semester ini saya aktif di kepanitiaan RKF 2018 dan PMB 2018. Saya juga berkerja sebagai asisten dosen untuk mata kuliah DDP1. Saya memiliki motto hidup "Do your best in everything you do". Motto ini mendorong saya untuk tidak belajar sekadar untuk mendapat nilai tertinggi pada suatu mata kuliah, melainkan untuk menambah ilmu dan pengalaman. Dengan belajar sungguh-sungguh dan memberikan usaha terbaik yang bisa saya berikan, saya yakin nilai (sebagai reward) akan menjawab usaha saya dengan setimpal.</p>
	<br/>
	<br/>
	<br/>
	<br/>
	<img id="ProfilePhoto" src="http://ekora.fr/WordPress3/wp-content/uploads/2012/07/picto_user.png" alt="Kevin Christian Chandra" width="200px" height="200px">
	<h1>Hello my name is Erania Siti Rajisa</h1>
	<hr/>
    <p>NPM : 1706039401</p>
	<p>Tempat kuliah: Fasilkom UI</p>
	<p>Hobi: Membaca novel</p>
	<p>Deskripsi diri: Saya sedang mengalami krisis identitas.</p>
	<br/>
	<br/>
	<br/>
	<br/>
	<img id="ProfilePhoto" src="http://ekora.fr/WordPress3/wp-content/uploads/2012/07/picto_user.png" alt="Kevin Christian Chandra" width="200px" height="200px">
	<h1>Hello my name is Muhamad Abdurahman</h1>
	<hr/>
    <p>NPM : 1706040095</p>
	<p>Tempat kuliah: Fasilkom UI</p>
	<p>Hobi: Mencari hobi baru</p>
	<p>Deskripsi diri: I am partly good person.</p>
</body>
</html>
